.dashboard-notifications{
    background-color: #000412;
    flex: 25%;
}
.notification-header{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size:1.6rem;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
}
.notification-item{
    display: flex;
    justify-content:space-between;
    background-color: #010827;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.notification-detail{
    display:flex;
    flex-direction:column;
    justify-content:start;
}

.notification-title{
    font-weight:bolder;
    font-size: 1.2rem;
}
@media screen and (max-width:900px) {
    .dashboard-notifications{
        display: none;
    }
}